@mixin btn-festival($img-url, $color) {
  background-image: url($img-url);
  background-size: cover;
  min-width: 248px;
  min-height: 80px;
  height: auto;
  background-color: transparent;
  color: $color;
  margin: auto;
  display: block;

}

.button-wrapper {
  margin-top: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.katalog-wrapper {
  margin-top: 50px;
}
