// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";

html {
  font-size: 62.5%;
}

body {
  font-family: AmaticSC-Regular;
  font-size: 1.4rem;
  color: #000;
  letter-spacing: 0px;
}

@mixin btn-home($img-url) {
  background-image: $img-url;
  background-size: cover;
  min-width: 248px;
  min-height: 71px;
  background-color: transparent;
  color: #EF5350;
}