@import "../../theme/app.btn.scss";

.btn-info2 {
  @include btn-festival("../../img/btn-website.svg", #EF5350);
  margin-top: 40%;
}

.camera {
  background-image: url("../../img/transparent-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
