@import "../../theme/app.btn.scss";

.btn1-cs {
  @include btn-festival("../../img/btn1-home.svg", #EF5350);
  margin-top: 75%;
}

.btn-catalog {
  @include btn-festival("../../img/btn-website.svg", #EF5350);
}

.camera {
  background-image: url("../../img/transparent-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
