.home {
  background-image: url("../../img/bg-home.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.home-navbar {
  background-color: #f5f5f5;
  background-image: url("../../img/nav-home.svg");
  min-height: 87px !important;
}

@mixin btn-home($img-url) {
  background-image: url($img-url);
  background-size: cover;
  min-width: 248px;
  min-height: 71px;
  background-color: transparent;
  color: #EF5350;
  margin: auto;
  display: block;
}

.btn1-home {
  @include btn-home("../../img/btn1-home.svg");
}

.btn2-home {
  @include btn-home("../../img/btn2-home.svg")
}