.info-navbar {
  background-image: url("../../img/nav-info.svg");
  min-height: 76px !important;
  background-color: #fff;
  color: #fff;
}

.festival-info {
  background-image: url("../../img/transparent-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;

  .active-tab {
    font-size: 3.2rem;
    font-weight: 600;
    color: #EF5350;
  }

  .passive-tab {
    font-size: 2.0rem;
    vertical-align: bottom;
  }

}