<ion-navbar class="info-navbar" transparent *navbar>
    <ion-title text-uppercase text-wrap>Festival</ion-title>
</ion-navbar>
<!--
<ion-tabs>
    <ion-tab [root]="tab1Root"></ion-tab>
    <ion-tab [root]="tab2Root"></ion-tab>
    <ion-tab [root]="tab3Root"></ion-tab>
</ion-tabs>
-->
<ion-content padding class="festival-info">

    <!--
    <ion-grid>
        <ion-row>
            <ion-col width-50 class="active-tab">Demokratie</ion-col>
            <ion-col class="passive-tab">Macht</ion-col>
            <ion-col class="passive-tab">Partizipation</ion-col>
        </ion-row>
        <ion-row>
            <ion-col offset-25 width-50><p>26. - 28. April</p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Burggrafenstraße 5</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Wählen oder nicht wählen?</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Galerie Luxese</ion-col>
        </ion-row>
    </ion-grid>
    -->

    <ion-grid>
        <ion-row>
            <ion-col class="tab" *ngFor="let tab of tabs" (click)="onSelect(tab)" [class.selected]="tab === selectedTab">
                {{ tab.name }}
            </ion-col>
        </ion-row>

        <!-- Display details of selected festival -->
        <div *ngIf="selectedTab" [class.details-left]="selectedTab === tabs[0]" [class.details-center]="selectedTab === tabs[1]" [class.details-right]="selectedTab === tabs[2]">
            <ion-row>
                <ion-col class="date">
                    {{ selectedTab.date }}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="address">
                    {{ selectedTab.address }}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="title">
                    {{ selectedTab.title }}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="info">
                    {{ selectedTab.info }}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="place">
                    {{ selectedTab.place }}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <button class="btn-program"></button>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
