@import "../../theme/app.btn.scss";

.info-navbar {
  background-image: url("../../img/nav-info.svg");
  min-height: 76px !important;
  background-color: #fff;
}

.festival-info {
  background-image: url("../../img/transparent-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;

  .selected {
    font-size: 3.2rem !important;
    font-weight: 700 !important;
    color: #EF5350;
  }

  .tab {
    font-size: 1.6rem;
    text-align: center;
  }

  .details-left {
    margin-top: 4.0rem;
  }

  .details-center {
    margin-top: 4.0rem;
    text-align: center;
  }

  .details-right {
    margin-top: 4.0rem;
    text-align: right;
  }

  .date {
    font-size: 2.4rem;
    font-weight: 700;
  }

  .address {
    font-size: 2.0rem;
    color: #EF5350;
    margin-top: 1.4rem;
  }

  .title {
    font-size: 4.0rem;
    font-weight: 700;
    margin-top: 4.0rem;
  }

  .info {
    font-size: 1.6rem;
  }

  .place {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    font-size: 2.0rem;
    font-weight: 600;
  }

  .btn-program {
    @include btn-festival("../../img/btn-festivalInfo.svg", #EF5350);
  }

  .btn-artists {
    @include btn-festival("../../img/btn-artists.svg", #EF5350);
  }

}

.bar-button-default{
    color: inherit;
}
